[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "{{ project_slug }}"
description = ""
readme = "README.md"
requires-python = ">=3.{{ min_python_minor_version }}"
license = "Apache-2.0"
license-files = ["LICENSE", "NOTICE"]
maintainers = [{ name = "Kitware, Inc.", email = "kitware@kitware.com" }]
keywords = [
  "django",
  "resonant",
  "kitware-resonant",
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Web Environment",
  "Framework :: Django",
  "Framework :: Django :: 5",
  "Framework :: Django :: 5.2",
  "Framework :: Django :: 6",
  "Framework :: Django :: 6.0",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  {%- for python_minor_version in range(min_python_minor_version, max_python_minor_version + 1) %}
  "Programming Language :: Python :: 3.{{ python_minor_version }}",
  {%- endfor %}
]
dependencies = [
  "django>=5.2",
]
dynamic = ["version"]

[project.urls]
Repository = "https://github.com/kitware-resonant/{{ project_slug }}"
"Bug Reports" = "https://github.com/kitware-resonant/{{ project_slug }}/issues"

[dependency-groups]
dev = [
  "tox",
  "tox-uv",
]
lint = [
  "ruff",
]
type = [
  "mypy",
  "django-stubs[compatible-mypy]",
]
test = [
  "pytest",
  "pytest-cov",
  "pytest-django",
  "pytest-mock",
]

[tool.hatch.build]
only-include = [
  "{{ python_package_name }}",
]

[tool.hatch.version]
source = "vcs"

[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = ["ALL"]
ignore = [
  # Incompatible with formatter
  # https://docs.astral.sh/ruff/formatter/#conflicting-lint-rules
  "COM812", # missing-trailing-comma
  "COM819", # prohibited-trailing-comma
  "D206", # docstring-tab-indentation
  "D300", # triple-single-quotes
  "E111", # indentation-with-invalid-multiple
  "E114", # indentation-with-invalid-multiple-comment
  "E117", # over-indented
  "ISC001", # single-line-implicit-string-concatenation
  "ISC002", # multi-line-implicit-string-concatenation
  "Q", # flake8-quotes
  "W191", # tab-indentation

  # Incompatible with Django
  "A003", # builtin-attribute-shadowing
  "ARG001", # unused-function-argument
  "ARG002", # unused-method-argument
  "RUF012", # mutable-class-default

  # Overly burdensome
  "ANN", # flake8-annotations
  "D1", # undocumented-*
  "EM101", # raw-string-in-exception
  "ERA001", # commented-out-code
  "FIX", # flake8-fixme
  "RET506", # superfluous-else-raise
  "TD002", # missing-todo-author
  "TD003", # missing-todo-link
  "TRY003", # raise-vanilla-args

  # Project-specific
]

[tool.ruff.lint.per-file-ignores]
"**/settings/**" = [
  "F403", # undefined-local-with-import-star
  "F405", # undefined-local-with-import-star-usage
]
"**/settings/{development,testing}.py" = [
  "S105", # hardcoded-password-string
]
"**/migrations/**" = [
  "N806", # non-lowercase-variable-in-function
  "RUF012", # mutable-class-default
]
"**/tests/**" = [
  "DJ007", # django-all-with-model-form
  "DJ008", # django-model-without-dunder-str
  "PLR0913", # too-many-arguments
  "PLR2004", # magic-value-comparison
  "S", # flake8-bandit
  "SLF001", # private-member-access
]

[tool.ruff.lint.flake8-self]
extend-ignore-names = ["_base_manager", "_default_manager",  "_meta"]

[tool.ruff.lint.isort]
# Sort by name, don't cluster "from" vs "import"
force-sort-within-sections = true
# Deferred annotations allows TC* rules to move more imports into TYPE_CHECKING blocks
required-imports = ["from __future__ import annotations"]

[tool.ruff.lint.pydocstyle]
convention = "pep257"

[tool.mypy]
files = [
  "{{ python_package_name }}",
  "tests",
]
check_untyped_defs = true
show_error_codes = true
strict = true
warn_redundant_casts = true
warn_unused_configs = true
warn_unused_ignores = true
plugins = [
  "mypy_django_plugin.main",
]
mypy_path = [
  # Use the same pythonpath for MyPy as for Pytest
  "tests",
]

[tool.django-stubs]
django_settings_module = "test_app.settings"

[tool.pytest.ini_options]
testpaths = ["tests"]
# Allow test utility modules to be imported without adding the root directory to the pythonpath,
# which would cause the local "{{ python_package_name }}" module to shadow the install.
pythonpath = ["tests"]
# Configure pythonpath ourselves, not based on manage.py
django_find_project = false
addopts = [
  # Use the Pytest-recommended "importlib" mode
  "--import-mode=importlib",
  "--strict-config",
  "--strict-markers",
  "--showlocals",
  "--verbose",
  "--cov",
]
filterwarnings = [
  "error",
  # pytest often causes unclosed socket warnings
  'ignore:unclosed <socket\.socket:ResourceWarning',
]
DJANGO_SETTINGS_MODULE = "test_app.settings"

[tool.coverage.paths]
source = [
  "{{ python_package_name }}/",
  ".tox/**/site-packages/{{ python_package_name }}/",
]
